@import "tailwindcss";

:root {
  --gold: #D0B66A;
  --navy: #202151;
  --cream: #F5F1E8;
  --red: #D61214;
  --font-kufi: 'Noto Kufi Arabic', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
